@model LockerMVC.Models.LockerlineModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>LockerlineModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dataid" class="control-label"></label>
                <input asp-for="dataid" class="form-control" readonly/>
                <span asp-validation-for="dataid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyid" class="control-label"></label>
                <input asp-for="companyid" class="form-control" readonly />
                <span asp-validation-for="companyid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeid" class="control-label"></label>
                <input asp-for="typeid" class="form-control" readonly />
                <span asp-validation-for="typeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appname" class="control-label"></label>
                <input asp-for="appname" class="form-control" />
                <span asp-validation-for="appname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usern" class="control-label"></label>
                <input asp-for="usern" class="form-control" />
                <span asp-validation-for="usern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass" class="control-label"></label>
                <input asp-for="pass" class="form-control" />
                <span asp-validation-for="pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="details" class="control-label"></label>
                <input asp-for="details" class="form-control" />
                <span asp-validation-for="details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateadded" class="control-label"></label>
                <input asp-for="dateadded" class="form-control" />
                <span asp-validation-for="dateadded" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="active" /> @Html.DisplayNameFor(model => model.active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
