@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"> Locker MVC Project by C.A. & Scoala Informala - </h1>
    <p>Written in <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    <p>This app is keeping your data safe and locked</p>
</div>
